// CONFIGURATION FILE

// Define executor type and maximum queue size for jobs at once ##

executor {

    name="slurm"
    queueSize = 100
}


// Point to singularity image with the tools necessary to run the pipeline
singularity {

    enabled = true
    process.container = "${projectDir}/rescue_camo_variants.sif"
}

